// ----- imports --------------------------
@import index

// ----- grid configuration ---------------
for n in (1..24) 
    .span_24_{n}
        span(n/24)
    .col_24_{n}
        col(n/24)


// ----- basic colors ---------------------
_black = #000000
_white = #FFFFFF
_brown = #7F5D3E
_brown_dark = _brown - 70%
_brown_middle = _brown - 30%

_page_width = 960

opacity(r,g,b,a)
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(r, g, b);
    /* RGBa with opacity */
    background: rgba(r, g, b, a);
    /* For IE 5.5 - 7*/
    filter:unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)')
    /* For IE 8*/
    -ms-filter: unquote('"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"')

navigation(lipadding)
    &
        margin: 0px
        padding: 0px
        list-style: none
    & li 
        display: inline
        padding: lipadding
        margin: 5px
        & a
            color: _white - 60%   
            text-decoration: none
            &:hover
                color: _brown

*
    font-family: 'Raleway', sans-serif !important;

html
    overflow:scroll
body
    background-color: _black
    font-family: 'Raleway', sans-serif !important;
    color: _white

.page
    width: unit(_page_width,px)
    margin: 0 auto

h1 
    font-size: 200%
    padding: 10px 0px
    color: _white - 40%

.banner
    display: none
    width: 100%
    height: 225px
    background-color: _brown_dark 
    background-image: url(../gfx/banner.png)
    background-size: cover

.menu
    box-shadow: 0px 6px 5px -5px _brown
    width: 100%
    left: 0px
    padding: 25px 0px
    ol.navigation
        navigation(10px 40px)
    ol.social
        navigation(10px 5px)


.content
    width: 100%
    min-height: 400px
    margin-top: 15px
    background-color: _black + 2%
    .post-box 
        _background=_black + 3%
        background-color: _background
        .post-box-container
            border: 1px solid _brown_dark
            padding: 5px
        .post-title 
            opacity(0,0,0,0.5)
            padding: 5px
            color: _white - 20%
        .post-meta
            display:none;
            width: 98%
            color: _brown_middle
            font-size: 90%
            font-style: italic
        .post-thumbnail
            cursor:pointer
            width: 100%
            background-color: red
            background-image: url(../gfx/thumb-1.png)
            background-size: cover


// ------- commons -------------------------
.align-left
    text-align: left

.align-right
    text-align: right

_widths = 400 600 700 960
_cols = 2 4 5 6 

_columns = _cols[i]

_page_width = 399
.page 
    width: unit(_page_width, px)
.content
    _padding = 10
    _margin = _padding/2
    _columns = 2
    _size = _page_width/_columns - _padding
    .grid-sizer
        width: unit(_size, px) + _padding
        height: unit(_size, px) + _padding*2
    .box-1-1 
        width: unit(_size, px)
        height: unit(_size, px)
        margin: unit(_margin, px)
        .post-thumbnail
            height: unit(_size, px)
    .box-1-2
        width: unit(_size, px)
        height: unit((_size*2) + _padding*2, px)
        margin: unit(_margin, px)
        .post-thumbnail
            height: unit((_size*2) + _padding*2, px)
    .box-2-1
        width: unit((_size*2) + _padding, px)
        height: unit(_size, px)
        margin: unit(_margin, px)
        .post-thumbnail
            height: unit(_size, px)
    .box-2-2
        width: unit((_size*2) + _padding, px)
        height: unit((_size*2) + _padding*2, px)
        margin: unit(_margin, px)
        .post-thumbnail
            height: unit((_size*2) + _padding*2, px)
    .grid-sizer 
        width: unit((_page_width/_columns), px)
    .post-box 
        margin-bottom: unit(_padding, px)

for _page_width, i in _widths
    _columns = _cols[i]
    bp(unit(_page_width, px)) 
    .page 
        width: unit(_page_width, px)
    .content
        _padding = 10
        _margin = _padding/2
        _size = _page_width/_columns - _padding
        .grid-sizer
            width: unit(_size, px) + _padding
            height: unit(_size, px) + _padding*2
        .box-1-1 
            width: unit(_size, px)
            height: unit(_size, px)
            margin: unit(_margin, px)
            .post-thumbnail
                height: unit(_size, px)
        .box-1-2
            width: unit(_size, px)
            height: unit((_size*2) + _padding*2, px)
            margin: unit(_margin, px)
            .post-thumbnail
                height: unit((_size*2) + _padding*2, px)
        .box-2-1
            width: unit((_size*2) + _padding, px)
            height: unit(_size, px)
            margin: unit(_margin, px)
            .post-thumbnail
                height: unit(_size, px)
        .box-2-2
            width: unit((_size*2) + _padding, px)
            height: unit((_size*2) + _padding*2, px)
            margin: unit(_margin, px)
            .post-thumbnail
                height: unit((_size*2) + _padding*2, px)
        .grid-sizer 
            width: unit((_page_width/_columns), px)
        .post-box 
            margin-bottom: unit(_padding, px)
    endbp()
