// ----- imports --------------------------
@import index

// ----- grid configuration [START] ---------------

//for n in (1..24) 
//    .span_24_{n}
//        span(n/24)
//    .col_24_{n}
//        col(n/24)

// ----- grid configuration [END] ---------------


// ----- basic colors [START] ---------------------

_black = #000000
_white = #FFFFFF
_brown = #7F5D3E
_brown_dark = _brown - 70%
_brown_middle = _brown - 30%
_white_dark = _white - 40%

// ----- basic colors [END] ---------------------


// ------- functions [START] -------------------------

opacity(r,g,b,a)
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(r, g, b);
    /* RGBa with opacity */
    background: rgba(r, g, b, a);
    /* For IE 5.5 - 7*/
    filter:unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)')
    /* For IE 8*/
    -ms-filter: unquote('"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"')

// ------- functions [END] -------------------------


// ------- basic styling [START] -------------------------
*
    font-family: 'Raleway', sans-serif !important;

body
    background-color: _black
    font-family: 'Raleway', sans-serif !important;
    color: _white

h1 
    font-size: 150%
    padding: 10px 0px 5px 10px
    color: _white_dark
    text-transform:lowercase

h2 
    font-size:130%
    color: _white
    text-transform:lowercase
    padding: 0px 5px

h3
    color: _white
    font-size:110%
    padding: 10px 15px 0px 15px

a
    text-decoration: none

.colorbox-photo-description
    background-color: _black
    padding:10px
    opacity(0,0,0,0.8)
    a
        color: _white_dark
        text-decoration: underline


#comments
    .comment
        .comment-metadata
            margin-left:25px
            a
                text-decoration: none
                font-size:80%;
    .comment
        border-bottom: 1px solid _brown_dark
        padding:10px
        p
            margin:0px
    .comment.even
        background-color: _black + 3%

// ------- basic styling [END] -------------------------


// ------- page styling [START] -------------------------

.banner
    display: none
    width: 100%
    height: 225px
    background-color: _brown_dark 
    background-image: url(../gfx/banner.png)
    background-size: cover

.menu
    width: 100%
    padding: 5px 0px
    overflow: hidden
    ol.inline-menu
        col(1/1)
        margin: 0px
        padding: 0px
        list-style: none
        display: block
        li 
            display: inline
            margin: 0px
            a
                color: _white - 60%   
                text-decoration: none
            a:hover
                color: _brown
    ol.navigation
        @extend .menu ol.inline-menu
        li
            padding: 0px 3px
        li:first-child
            padding-left: 5px
    ol.social
        @extend .menu ol.inline-menu
        margin-top: 10px
        li
            padding: 0px 5px
            img.social-ico
                width: 16px
                height: 16px

.content
    width: 100%
    margin-top: 15px
    article
        color: _white_dark
        line-height: 1.5em
        p
            padding:5px
            text-align:justify
        a
            color: _brown
        ol,ul
            li
                margin-left:25px
                list-style-type: square

    footer.post
        display:none

    header.page
        p
            text-align: right
            font-size: 80%
            color: _white
            padding:0px
        h2 
            color: _white
        a
            color: _brown
        .post-meta
            text-align: right
            font-size:80%
       
    .post-box 
        _background=_black + 3%
        a
            color: _white - 20%
        .post-box-container
            background-color: _background
            border: 1px solid _brown_dark
            padding: 5px
        .post-title 
            opacity(0,0,0,0.5)
            padding: 5px
            color: _white - 20%
        .post-meta
            display:none;
            width: 98%
            color: _white_dark
            font-size: 80%
            a
                text-decoration: underline
        .post-thumbnail
            cursor:pointer
            width: 100%
            background-color: _background
            background-size: cover

// ------- page styling [END] -------------------------


// ------- single pages styling [START] -------------------------

.content.single-blog
    a
        color: _white_dark
        text-decoration: underline

.content.single-portfolio
    overflow: visible
    img
        border:3px solid _white_dark
        float: left
        margin:5px;
    .image
        overflow: visible


    a
        color: _white_dark
        text-decoration: underline

.content.single-photo
    img
        border:3px solid _white_dark
        center(80%)
    a
        color: _white_dark
        text-decoration: underline

// ------- single pages styling [END] -------------------------


// ------- media queries for different sizes [START]-----

_widths = 400 480 720 960
_cols = 2 2 3 4 
_max_width = 150 200 240 240 240
_columns = _cols[i]
_page_width = 300 

.page 
    width: unit(_page_width, px)
    margin: 0 auto

    footer.page
        clear:both
        border-top: 1px solid _white_dark
        text-align: right
        padding: 0px 0px
        margin-top: 10px 
        color: _white - 60%   
        font-size: 80%
        padding-bottom:10px

.content
    _padding = 10
    _margin = _padding/2
    _columns = 2
    _size = _page_width/_columns - _padding
    .grid-sizer
        width: unit(_size, px) + _padding
        height: unit(_size, px) + _padding*2
    .box-1-1 
        width: unit(_size, px)
        margin: unit(_margin, px)
        .post-thumbnail
            height: unit(_size, px)
    .box-1-2
        width: unit(_size, px)
        margin: unit(_margin, px)
        .post-thumbnail
            height: unit((_size*2) + _padding*2, px)
    .box-2-1
        width: unit((_size*2) + _padding, px)
        margin: unit(_margin, px)
        .post-thumbnail
            height: unit(_size, px)
    .box-2-2
        width: unit((_size*2) + _padding, px)
        .post-thumbnail
            height: unit((_size*2) + _padding*2, px)
    .grid-sizer 
        width: unit((_page_width/_columns), px)
    .post-box 
        margin-bottom: unit(_padding, px)

for _page_width, i in _widths
    _columns = _cols[i]
    bp(unit(_page_width, px)) 
    .page 
        width: unit(_page_width, px)
    .content
        _padding = 10
        _margin = _padding/2
        _size = _page_width/_columns - _padding
        .grid-sizer
            width: unit(_size, px) + _padding
            height: unit(_size, px) + _padding*2
        .box-1-1 
            width: unit(_size, px)
            margin: unit(_margin, px)
            .post-thumbnail
                height: unit(_size, px)
        .box-1-2
            width: unit(_size, px)
            margin: unit(_margin, px)
            .post-thumbnail
                height: unit((_size*2) + _padding*2, px)
        .box-2-1
            width: unit((_size*2) + _padding, px)
            margin: unit(_margin, px)
            .post-thumbnail
                height: unit(_size, px)
        .box-2-2
            width: unit((_size*2) + _padding, px)
            margin: unit(_margin, px)
            .post-thumbnail
                height: unit((_size*2) + _padding*2, px)
        .grid-sizer 
            width: unit((_page_width/_columns), px)
        .post-box 
            margin-bottom: unit(_padding, px)
    endbp()


bp(600px)
.menu
    ol.navigation
        li
            padding: 0px 20px
endbp()

bp(750px) 
.menu
    ol.navigation
        span(18/24)
        shift(-6/24)
    ol.social
        span(6/24)
        shift(18/24)
        margin-top: 0px
        text-align:right
        li
            padding: 0px 10px

h1
    font-size: 200%

h2
    font-size: 150%

.content
    article
        p
            font-size: 120%
endbp()

bp(960px) 
.menu
    ol.navigation
        li
            padding: 0px 35px
endbp()

// ------- media queries for different sizes [START]-----


// ------- commons [START] -------------------------

.align-left
    text-align: left

.align-right
    text-align: right
    
// ------- commons [END] -------------------------
