html { background-color:#101010; height:100%; }
body { background-color:#101010; height:100%; color:#FFFFFF; font-size:12px; font-family:"Spinnaker", sans-serif; }

.sidebar { background-color:#000000; width:200px; height:100%; position:fixed; top:0px; left:0px; border-right:1px solid #7F7966; }
    .sidebar-logo { height:80px; width:200px; border-bottom:1px solid #7F7966; text-align:center; display:block; }
        .logo { height:80px; width:200px; background-image:url('../gfx/sidebar-logo.png'); display:block; z-index:2; position:fixed; }
        .logo:hover { background-position:0px -80px; }
    .navigation { margin-top:-100px; width:200px; height:100px; text-align:center; position:fixed; top:50%; z-index:1; display:block; }
        .menu-page li { list-style:none; font-weight:bold; color:#7F7966; margin-top:8px; margin-bottom:8px; }
        .menu-page a { color:#7F7966; }
        .menu-social { margin-top:50px; }
        .menu-social li { list-style:none; display:inline; margin:5px 0px; }
        .menu-social a { color:#7F7966; }
    .footer { height:80px; width:200px; border-top:1px solid #7F7966; position:fixed; left:0px; bottom:0px; text-align:center; z-index:2; }
        .login { height:80px; width:200px; z-index:2; display:block; background-image:url('../gfx/sidebar-login.png'); }
        .login:hover { background-position:0px -80px; }
.content { float:left; margin-left:200px; width: 900px; }
    .post-list-box { width: 200px; height:300px; background-color:#000000; border:1px solid #40321D; margin:5px 5px; float:left; }
        .post-list-photo-thumb { width:200px; height:200px; background-image:url('../gfx/blog-photo-bw.png'); cursor:pointer; }
        .post-list-photo-thumb:hover { background-image:url('../gfx/blog-photo.png'); }
        .post-list-title { margin:5px; text-transform:lowercase; }
        .post-date { margin:5px; text-transform:lowercase; color:#7F7966; }
        .post-tags { margin:5px; text-transform:lowercase; color:#7F7966; }
        .post-tags a { color:#7F7966;}
    .post { margin:25px 15px; }
        .post-header { position:fixed; top:0px; z-index:2; background-color: #101010; width:900px; height:120px; margin-left:-14px; padding-left:14px; }
        .post-content { margin-top:120px; }
        .post-content-static {  }
        .post h1 { font-size:250%; text-transform:lowercase; }
        .post p { margin:20px 25px; font-size:120%; color:#777777; line-height:140%; }
    .home-header { margin:0px; margin-top:-25px; }
        .home-header h1 { font-size:160%; text-transform:lowercase; margin:20px 20px; margin-top:40px; }
        h2 { font-size:140%; margin-top:40px; margin-bottom:10px; }
        .banner { width:838px; height:284px; background-image:url('../gfx/banner-bw.png'); margin-left:5px; }
        .banner:hover { background-image:url('../gfx/banner-c.png'); }
.size80p { font-size:80%; }
.size60p { font-size:60%; }
.size120p { font-size:120%; }

a { text-decoration:none; color:#FFFFFF; }
a:hover { color:#F27405; }
.hide { display:none; }

/* ##-colors
    black:
        #000000
    dark gray:
        #101010
    light gray:
        #7F7966
    ligher gray:
        #777777
    brown:
        #40321D
    orange:
        #F27405
    white:
        #FFFFFF;
*/
